.kwcClass {
    .kwfUp-components {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .kwcBem__subComponents {
        position: absolute;
        width: 100%;
        top: 0;
    }
}
