.kwfUp-legacyListFadeKwfFadeElements { position: relative; }
.kwfUp-legacyListFadeKwfFadeElements .kwfUp-outerComponents { position: relative; overflow: hidden; }
.kwfUp-legacyListFadeKwfFadeElement { position: absolute; top: 0px; left: 0px; width: 100%; }

.kwfUp-elementAccessLinks { position: relative; z-index: 2; }
.kwfUp-elementAccessLinks > li { float: left; }
.kwfUp-elementAccessLinks .kwfUp-elementAccessLink {
    display: block; width: 20px; height: 20px;
    background-color: #bbb; margin: 0px 5px;
}
.kwfUp-elementAccessLinks a.kwfUp-elementAccessLinkActive {
    background-color: #fff;
}
.kwfUp-elementAccessLinks .kwfUp-elementAccessPlayPauseButton {
    background-repeat: no-repeat;
}
.kwfUp-elementAccessLinks .kwfUp-elementAccessPause {
    background-image: url(/assets/kwf/images/pause.png);
}
.kwfUp-elementAccessLinks .kwfUp-elementAccessPlay {
    background-image: url(/assets/kwf/images/play.png);
}
.kwfUp-elementAccessNext,
.kwfUp-elementAccessPrevious { position: relative; z-index: 2; }
